<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    {{msg}}
    {% for data in (files) %}
        <img class="img"
        src="https://imagestoring123.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{data}}" alt={{data}} >
    {% endfor %}
</body>
</html>